.button_container{
    flex: 0 0 238px;
    display: flex;
    justify-content: flex-end;
    .download{
        text-transform: uppercase;
        vertical-align: middle;
        text-align: center;
        width: 130px;
        height: 40px;
        background-color: #4285f4;
        border-radius: 5px;
        p{
            width: inherit;
            height: inherit;
            display: flex;
            justify-content: center;
            align-items: center;
            color: #fcfdfe;
            letter-spacing: 2px;
         }
    }
    .download_wrapper{
        position: fixed;
        z-index: 100;
        top: 25%;
        left: 25%;
        width: 50%;
        height: 50%;
        display: flex;
        padding: 15px;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: white;
        border-radius: 20px;
        box-shadow: 2px 4px 32px 0px rgba(29, 24, 24, 0.12);
        opacity: 0; 
        transition: 1s all;
        transform: translate(-50%, -50%) scale(0);
        .close{
            position: absolute;
            top: 15px;
            right: 15px;
            width: 35px;
            height: 35px;
            cursor: pointer;
        }
        .close:before,
        .close:after {
            content: "";
            position: absolute;
            top: 15px;
            left: 10px;
            width: 26px;
            height: 4px;
            background: #EC5863;
        }
        .close:before {
            transform: rotate(45deg);
            transform: rotate(45deg);
        }
        .close:after {
            transform: rotate(-45deg);
            transform: rotate(-45deg);
        }
        .download_wrapper_content{
        h1{
            margin-bottom: 10%;
        }}
        .download{
            margin-top: 30px;
        }
    }
    .active{
        opacity: 1;
        transition: 1s opacity;
        transform: scale(1);
    }
    @media (max-width: 1179px){
        .download_wrapper{
            width: 80%;
            height: 80%;
            top: 10%;
            left: 10%;
            padding: 5%;
            .full{
                position: relative !important;
                margin-top: 30px;
                background-image: none;
                width: 130px;
                height: 40px;
                left: 0;
                p{
                    display: inline;
                }
            }
        }
    }
    @media (max-width: 871.98px) {
        .button_container{
            display: flex;
            flex: 0 0 130px;
        }
        
    }
}