.button_container{
    flex: 0 0 238px;
    display: flex;
    justify-content: flex-end;
}
.download{
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    width: 130px;
    height: 40px;
    background-color: #4285f4;
    border-radius: 5px;
}
.download p{
   width: inherit;
   height: inherit;
   display: flex;
   justify-content: center;
   align-items: center;
   color: #fcfdfe;
   letter-spacing: 2px;
}
@media (max-width: 871.98px) {
    .button_container{
        display: flex;
        flex: 0 0 130px;
    }
}