main{
    max-width: inherit;
    max-height: 100%;
    margin-top: 39px;
}
.get_started{
    display: flex;
    flex-direction: row;
}
.start{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: center;
    margin-left: 18px;
}
h1{
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 12px;
}
.blue{
    color: #4285F4;
}
.orange{
    color: #EC5863;
}
h2{
    font-family: 'Rubik';
    font-weight:400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.075em;
    color: #616161;
    margin-bottom: 24px;
}
button{
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    width: 144px;
    height: 40px;
    background: #EC5863;
    border-radius: 5px;
}
button p{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcfdfe;
    letter-spacing: 0.014em;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 10px;
}
.video_links{
    display: flex;
    max-width: 100%;
    min-height: 154px;
    align-items: center;

}
.video_links a{
    width:fit-content;
    height: fit-content;
    margin-left: 18px;
}
.stay_safe{
    display: flex;
    flex-direction: row;
    min-height: 700px;
    align-items: center;
    gap: 149px;
    
}
.mobile_wrapper{
    display: flex;
    min-width: 338px;
    height: 542px;
    align-items: flex-end;
    justify-content: flex-end;
    
}
.mobile_wrapper img{
    width: 229px;
    height: 471px;
    margin-left: 14px;
}
.features{
    display: flex;
    flex-wrap: wrap;
    width: 379px;
    height: 238px;
    margin-left: 30px;
}