main{
    max-width: inherit;
    max-height: 100%;
    margin-top: 39px;
    position: relative;
    padding: 0 52px;
}
.get_started{
    display: flex;
    flex-direction: row;
}
.start{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: center;
    margin-left: 18px;
}
h1{
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 12px;
}
.blue{
    color: #4285F4;
}
.orange{
    color: #EC5863;
}
h2{
    font-family: 'Rubik';
    font-weight:400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.075em;
    color: #616161;
    margin-bottom: 24px;
    margin-top: 0px;
}
button{
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    width: 144px;
    height: 40px;
    background: #EC5863;
    border-radius: 5px;
}
button p{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcfdfe;
    letter-spacing: 0.14em;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 10px;
}
.video_links{
    display: flex;
    max-width: 100%;
    min-height: 155px;
    align-items: center;

}
.video_links a{
    margin-left: 18px;
}
.stay_safe{
    display: flex;
    flex-direction: row;
    min-height: 650px;
    align-items: center;
    gap: 149px;
    
}
.stay_safe h1{
    margin: 0;
    line-height: 126%;
}
.mobile_wrapper{
    position: relative;
    display: flex;
    min-width: 338px;
    height: 542px;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 79px 0px 79px 48px;
    
}
.mobile_wrapper img{
    width: 229px;
    height: 459px;
    margin: 56px 38px 28px 71px;
    box-shadow: 2px 4px 32px 0px rgba(0, 0, 0, 0.12);

}
.features{
    display: flex;
    flex-wrap: wrap;
    width: 379px;
    height: 238px;
    max-width: 1057px;
    min-height: 100%;
}
.rectangle_19{
    position: absolute;
    width: 147px;
    height: 147px;
    left: 0px;
    top: 0px;
    z-index: -1;
    background: #EC5863;
    border-radius: 30px;
}
.small{
    width: 77px;
    height: 77px;
    background: #EC5863;
    border-radius: 30px;
    z-index: -1;
    position: absolute;
}
.rectangle_20{
    right: 0;
    bottom: 110px;
}
.rectangle_21{
    bottom: 0px;
    left: 32px;
}
.experts_wrapper{
    margin: 0;
    padding: 0 52px;
    position: relative;
    left: -104px;
    display: flex;
    justify-content: center;
    background: #FAFBFD;
    width: 1256px;
    min-height: 700px;
    z-index: 1;
    flex-wrap: wrap;
}
.numbers_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 103.93px;
    width: 654px;
    height: 117px;
    background: #ffffff;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    text-align: center;
    padding: 28px 0;
    z-index: 2;
}
.numbers{
    display: flex;
    justify-content: space-between;
    width: 494px;
    height: 61px;
}
.numbers h1{
    font-size: 36px;
    color: #EC5863;
    letter-spacing: 0.14em;
    margin: 0;
}
.numbers p{
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.37em;
}
.experts_wrapper [class*='rectangle']{
    background: #EC5863;
    z-index: -1;
    position: absolute;
}
.rectangle_23{
    width: 65.75px;
    height: 65.75px;
    top: 171.93px;
    left: 283px;
    transform: rotate(-30deg);
    border-radius: 16px;
}
.rectangle_24{
    width: 96.96px;
    height: 96.96px;
    left: 521px;
    top: 62px;
    border-radius: 30px;
    transform: rotate(105deg);
}
.rectangle_22{
    width: 127.47px;
    height: 127.47px;
    border-radius: 30px;
    transform: rotate(-30deg);
    left: 882px;
    top: 102px;
}
.talk{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding:  0 56px;
    gap: 83px;
}
.talk_features{
    padding: 50px 0px 0px 40px;
}
.talk_features h1{
    margin: 0;
}
.healthcare_wrapper{
    position: relative;
    min-width: 700px;
    max-height: 551px;
}
.description{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 80px auto 46px auto;
    gap: 14px;
}
.description h1{
    margin: 0;
}

.card_container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 72px;
    align-content: center;
    position: relative;
    z-index: 1;
}
.card{
    box-shadow: 0px 4px 18px rgba(88, 126, 236, 0.18);
    border-radius: 8px;
    width: 278.17px;
    height: 276.52px;
    padding: 36.65px 17.72px;
    overflow: hidden;
    background: #FFFFFF;
}
.card .img{
    width: auto;
    height: auto;
    display: flex;
    justify-content: center;
}
.img img{
    margin: auto;
}
.card h1{
    margin-top: 57px;
    font-weight: 700;
    font-size: 16px;
    line-height: 138.5%;
    text-align: center;
    letter-spacing: 0.08em;
}
.card p{
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 138.5%;
    text-align: center;
    letter-spacing: 0.08em;
    color: #616161;
}
.rec_healthcare{
    position: absolute;
    z-index: -1;
    background: #EC5863;
}
.first_rec{
    border-radius: 16px;
    top: auto;
    left: 16px;
    bottom: -27px;
}
.second_rec{
    width: 96.96px;
    height: 96.96px;
    border-radius: 30px;
    transform: rotate(105deg);
    left: 264px;
    top:35px;
}
.third_rec{
    left: 615px;
    top: 167px;
    width: 127.47px;
    height: 127.47px;
}
.fourth_rec{
    top: -40px;
    left: 966px;
}
@media (max-width: 871.98px){
    .App{
        padding: 0 10px;
    }
    main{
        max-width: none;
        padding: 0;
        margin-top: 10px;
    }
     .main_screen .get_started{
        display: flex;
        flex-direction: column;
        gap: 50px;
        text-align: center;
        justify-items: center;
        justify-content: center;
    }
    .start{
        
        align-items: center;
    }
    .main_screen .start_img img{
        display: block;
        width: 60%;
        margin: 0 auto;
    }
    .main_screen .video_links{
        justify-content: center;
    }
    .main_screen .stay_safe{
        flex-direction: column;
        gap:0;
    }
    .main_screen .stay_safe .mobile_wrapper{
        margin: 15px ;
        justify-content: center;
    }
    .main_screen .stay_safe .mobile_wrapper img{
        margin: 0 15px;
    }
    .main_screen .stay_safe .features{
        width:auto;
        margin: 15px 0;
        justify-content: center;
        align-items: center;
        text-align: center;
        flex-direction: column;
    }
    .main_screen .experts_wrapper{
        width: auto;
        left: 0;
    }
    .main_screen .experts_wrapper .talk{
        flex-direction: column;
        text-align: center;
        gap:15px;
        width: auto;
    }
    .main_screen .experts_wrapper .talk .talk_features{
        padding: 15px 10px;
        width: auto;
    }
    .main_screen .experts_wrapper .numbers_wrapper {
        flex-direction: column;
        height: auto;
        margin-top: 0px;
    }
    .main_screen .experts_wrapper .numbers_wrapper .numbers{
        height: auto;
        flex-direction: column;
        gap: 10px;
    }
    .experts_wrapper [class*='rectangle']{
        display: none;
    }
    .main_screen .healthcare_wrapper {
        min-width: auto;
        max-height: 100%;
    }
    .main_screen .healthcare_wrapper .description{
        margin: 10px auto;
    }
    .main_screen .healthcare_wrapper .card_container{
        flex-direction: column;
        gap: 10px;
    }
    .footer_wrapper div{
        width: 120px;
        
    }
}
