main{
    max-width: inherit;
    max-height: 100%;
    margin-top: 39px;
    position: relative;
    padding: 0 52px;
}
.get_started{
    display: flex;
    flex-direction: row;
}
.start{
    display: flex;
    flex-direction: column;
    max-width: 100%;
    align-self: center;
    margin-left: 18px;
}
h1{
    font-family: 'Rubik';
    font-weight: 700;
    font-size: 44px;
    margin-bottom: 12px;
}
.blue{
    color: #4285F4;
}
.orange{
    color: #EC5863;
}
h2{
    font-family: 'Rubik';
    font-weight:400;
    font-size: 12px;
    line-height: 17px;
    letter-spacing: 0.075em;
    color: #616161;
    margin-bottom: 24px;
}
button{
    text-transform: uppercase;
    vertical-align: middle;
    text-align: center;
    width: 144px;
    height: 40px;
    background: #EC5863;
    border-radius: 5px;
}
button p{
    width: inherit;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fcfdfe;
    letter-spacing: 0.014em;
    font-family: 'Raleway';
    font-weight: 800;
    font-size: 10px;
}
.video_links{
    display: flex;
    max-width: 100%;
    min-height: 154px;
    align-items: center;

}
.video_links a{
    margin-left: 18px;
}
.stay_safe{
    display: flex;
    flex-direction: row;
    min-height: 700px;
    align-items: center;
    gap: 149px;
    
}
.mobile_wrapper{
    position: relative;
    display: flex;
    min-width: 338px;
    height: 542px;
    align-items: flex-end;
    justify-content: flex-end;
    margin: 79px 0px 79px 48px;
    
}
.mobile_wrapper img{
    width: 229px;
    height: 459px;
    margin: 56px 38px 15px 71px;
    box-shadow: 2px 4px 32px 0px rgba(0, 0, 0, 0.12);

}
.features{
    display: flex;
    flex-wrap: wrap;
    width: 379px;
    height: 238px;
    max-width: 1057px;
    min-height: 100%;
}
.rectangle_19{
    position: absolute;
    width: 147px;
    height: 147px;
    left: 0px;
    top: 0px;
    z-index: -1;
    background: #EC5863;
    border-radius: 30px;
}
.small{
    width: 77px;
    height: 77px;
    background: #EC5863;
    border-radius: 30px;
    z-index: -1;
    position: absolute;
}
.rectangle_20{
    right: 0;
    bottom: 92px;
}
.rectangle_21{
    bottom: 0px;
    left: 32px;
}
.experts_wrapper{
    margin: 0;
    padding: 0 52px;
    position: relative;
    left: -104px;
    display: flex;
    justify-content: center;
    flex-direction: row;
    background: #FAFBFD;
    width: 1256px;
    min-height: 700px;
    z-index: 1;
}
.numbers_wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 103.93px;
    width: 654px;
    height: 117px;
    background: #ffffff;
    box-shadow: 0px 2px 24px rgba(88, 126, 236, 0.15);
    border-radius: 16px;
    text-align: center;
    padding-bottom: 28px;
    z-index: 2;
}
.numbers{
    display: flex;
    justify-content: space-between;
    width: 494px;
    height: 61px;
}

.users{
}
.numbers h1{
    font-size: 36px;
    color: #EC5863;
    letter-spacing: 0.14em;
}
.numbers p{
    font-size: 11px;
    text-transform: uppercase;
    letter-spacing: 0.37em;
}
.experts_wrapper [class*='rectangle']{
    background: #EC5863;
    z-index: 0;
}
.rectangle_23{
    position: absolute;
    width: 65.75px;
    height: 65.75px;
    top: 162.93px;
    left: 272px;
    transform: rotate(-30deg);
    border-radius: 16px;
}