header{
    display: flex;
    min-width: 1057px;
    min-height: 114px;
    flex-direction: column;

}
.header_wrapper{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    flex: 1 1 auto;
    align-items: center;
    align-self: center;
}
.header_wrapper .logo{
    margin-right: auto;
}