.navbarmenu{
    display: flex;
    font-size: 10px;
    line-height: normal;
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: 700;
    color: black;
    ul{
        display: flex;
        flex-direction: row;
        li{
            height: 13px;
            width: auto;
            display: flex;
            padding: 0 40px 0 0;
            border-bottom: 2px solid transparent;
            a{
                letter-spacing: 0.14em;
            }   
        }
    }
}
.burger{
    display: none;
}
.mobile_nav{
    display: none;
}
.navbarmenu a:hover{
    border-bottom: 2px #EC5863 solid;
}

li:not(:last-child){
    &::after{
        height: 2px;
        content:"";
        background: #EC5863;
        width: 20px;
        transform: rotate(100deg);
}
}
@media (max-width: 1179px){
    .navbar{
        ul{
            li{
                padding-right: 10px;

            }
        }
    }
}
@media (max-width: 871.98px) {
    .button_container .download{
        top: 40px;
        left: 40px;
        position: fixed;
        z-index: 100;
        width: 32px;
        height: 32px;
        border-radius: 20px;
        background-image: url('./download.png');
        background-repeat: no-repeat;
        background-position: center;
        p{
            display: none;
        }
    }
    .mobile_nav{
        display: flex;
        .navbarmenu{
        position: fixed;
        top:0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        z-index: 11;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background: #EC5863;
        transform: translateX(+100%);
        transition: transform 0.5s ease;
            ul{
                display: flex;
                gap: 40px;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin: auto;
                font-size: 48px;
                li{
                    padding: 0;
                    margin-bottom: 35px;
                    a{
                        color: white;
                    }
                }
            }
        }
        .navbarmenu-enter-done{
            transform: translateX(0);
            transition: transform 0.5s ease;
        }

        .burger{
            display: flex;
            position: fixed;
            top: 40px;
            right: 40px;
            height: 40px;
            width: 40px;
            margin-right: auto;
            color: white;
            background: #EC5863;
            border-radius: 20px;
            z-index: 12;
            order: 5;
    
        }
    }
    .navbar{
        display: none;
    }
}
