.navbarmenu{
    display: flex;
    font-size: 10px;
    line-height: normal;
    text-transform: uppercase;
    font-family: Raleway;
    font-weight: 700;
    color: black;
}
.navbar ul{
    display: flex;
    flex-direction: row;
}
nav li{
    width: auto;
    display: flex;
    padding: 0 40px 0 0;
}
a{
    letter-spacing: 0.14em;
}
.mobile_nav .navbarmenu{
    transform: translateX(+100%);
    transition: transform 0.5s ease;
}
.mobile_nav .navbarmenu-enter-done{
    transform: translateX(0);
    transition: transform 0.5s ease;
}
.mobile_nav .burger{
    display: none;
}
@media (max-width: 871.98px) {
    .navbar{
        display: none;
    }
    .mobile_nav{
        display: flex;

    }
    .mobile_nav .navbarmenu{

        position: fixed;
        top:0;
        left: 0;
        bottom: 0;
        width: 100%;
        height: auto;
        z-index: 11;
        flex-direction: column;
        text-align: center;
        align-items: center;
        background: #EC5863;
    }
    .mobile_nav .navbarmenu ul{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: auto;
        font-size: 48px;
    }
    .mobile_nav .navbarmenu ul li{
        padding: 0;
        margin-bottom: 35px;
    }
    .mobile_nav .navbarmenu ul li a{
        color: white;
    }
    .mobile_nav .burger{
        display: flex;
        position: fixed;
        top: 40px;
        right: 40px;
        height: 40px;
        width: 40px;
        margin-right: auto;
        color: white;
        background: #EC5863;
        border-radius: 20px;
        z-index: 12;
        order: 5;

    }
    .header_wrapper .button_container{
        top: 40px;
        left: 40px;
        position: fixed;
        z-index: 10;
    }
}