footer{
    min-height: 149px;
    margin-top: auto;
    justify-content: center;
    align-items: center;
    display: flex;
  }
.footer_wrapper{
    margin-top: 51px;
    width: inherit;
    height: 66px;
    display: flex;
    flex-direction: row;
    gap: 57px;
}  
.footer_wrapper a img{
  width: auto;
  height: auto;
}
.gp{
  width:160px;
  height: 55px;
}
.gp a img{
  max-width: 100%;
}
.as{
  width: 165px;
  height: 66px;
}
.as a img{
  max-width: 100%;
}