body {
  margin: 0;
  font-family: Rubik;
  -webkit-font-smoothing: antialiased;
}
*{
	padding: 0;
	margin: 0;
	border: 0;
}
*,*:before,*:after{
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}

html,body{
  font-weight: 700;
}

button{cursor: pointer;     font-family: Raleway; font-weight: 800; font-size: 10px;}
a, a:visited{text-decoration: none; color: black; cursor: pointer;}
a:hover{text-decoration: none;}
ul li{list-style: none;}
main{
  max-width: 1057px;
  min-height: 100%;
}
@media (max-width: 1179px){
  body{
    width: auto;
  }
}